<article class="article-item">
    <img class="article-item__thumbnail" src="../../../../public/images/placeholders/placeholder-restaurant.png"
        alt="restaurant name">
    <div class="article-item__content">
        <div class="article-item__header"> 
            <div class="skeleton skeleton-text">

            </div>
            <div class="article-item__location">
                
            </div>
        </div>
        <div class="skeleton skeleton-text">

        </div>
        <div class="article-item__rating">
            <div class="skeleton skeleton-text">

            </div>
        </div>
    </div>
</article>