.menu {
    margin-bottom: 1rem;
    
    img {
        width: 100%;

        border-radius: 0.5rem;
    }

    .menu__name {
        text-align: center;
        font-weight: bold;
        color: $third-color;
    }

    p {
        margin: 0;
        padding: 0;
    }
}