$primary-color: #8AB6D6;
$secondary-color: #114E60;
$third-color: #0061A8;
$fourth-color: #FBE0C4;
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Oswald', sans-serif;
  font-size: 1.1rem;
  scroll-behavior: smooth;
}

.skip-link {
  position: absolute;
  top: -80px;
  left: 0;
  background-color: $primary-color;
  color: $fourth-color;
  padding: 8px;
  z-index: 130;
}

.skip-link:focus {
  top: 0;
}

.optimized {
  min-width: 44px;
  min-height: 44px;
}

.nav__drawer__btn {
  background-color: transparent;
  color: $fourth-color;
  border: 0;
  font-size: 1.5rem;
}

.header {
  position: absolute;
  width: 100%;
  z-index: 100;
  transition: background 0.3s ease;

  .header__inner {
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;


    .header__title {
      font-size: 1.5rem;
      font-style: italic;
      font-weight: bold;

      .first__character__title {
        color: $primary-color;
      }

      .second__character__title {
        color: $fourth-color;
      }
    }

    .nav ul {
      display: none;

      li {
        list-style-type: none;
        margin-right: 1.5rem;
        margin-left: 1.5rem;

        a {
          color: $fourth-color;
          text-decoration: none;

          &:hover {
            border-bottom: 2px solid;
          }
        }
      }
    }
  }
}

.drawer {
  position: absolute;
  top: 0;
  left: 0;
  height: 60%;
  width: 100%;
  z-index: 110;
  background-color: $secondary-color;
  transform: translate(0%, -100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;

    li {
      list-style: none;
      margin-top: 1rem;
      margin-bottom: 1rem;

      a {
        color: white;
        text-decoration: none;
        border-bottom: 2px solid;
      }
    }
  }
}


.hero {
  height: 80vh;
  position: relative;
  overflow: hidden;
  background-color: black;

  .hero__banner {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      opacity: 0.55;
    }

    .hero__inner {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      z-index: 10;
      top: 30%;
      padding: 0 1rem;

      .hero__title {
        color: $primary-color;
        font-size: 1.5rem;
        margin-bottom: 1rem;
      }

      .hero__tagline {
        color: $fourth-color;
        font-weight: bold;
        margin-bottom: 1rem;
        font-size: 0.8rem;
      }

      .hero__anchor {
        text-decoration: none;
        background-color: $third-color;
        padding: 0.5rem;
        border: 0;
        border-radius: 0.375rem;
        color: $fourth-color;

        &:hover {
          background-color: $secondary-color;
        }
      }
    }
  }
}

.content {
  background-color: whitesmoke;
  padding: 2rem;

  .article__section {

    .article__section__title {
      text-align: center;
      color: $secondary-color;
    }


    .articles {
      display: grid;
      grid-template-columns: 1fr;
      margin-top: 2rem;

      .article-item {
        box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%);
        background-color: white;
        border-radius: 0.3rem;
        overflow: hidden;
        margin-bottom: 1rem;

        .article-item__thumbnail {
          width: 100%;
          object-fit: cover;
        }

        .article-item__content {
          padding: 1rem;

          .article-item__header {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .article-item__location {
              display: flex;
              align-items: center;

              img {
                width: 1.5rem;
                margin-right: 0.25rem;
              }
            }
          }

          .article-item__description {
            margin-bottom: 0.5rem;
            color: $secondary-color;
          }

          .article-item__rating {
            display: flex;
            align-items: center;

            span {
              margin-left: 0.5rem;
            }
          }
        }
      }
    }
  }
}

.article-item__title {
  margin-bottom: 0.5rem;

  a {
    color: $third-color;
    text-decoration: none;
  }
}

footer {
  background-color: $secondary-color;
  display: flex;
  justify-content: center;
  padding: 2rem 0;
  color: $fourth-color;
}