* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Oswald', sans-serif;
  font-size: 1.1rem;
  scroll-behavior: smooth;
}

button,
a {
  min-width: 44px;
  min-height: 44px;
}

.optimized {
  min-width: 44px;
  min-height: 44px;
}

.content {
  background-color: whitesmoke;
  padding: 2rem;
}




