@media screen and (max-width: 540px) {
    .drawer {
        transition: transform 0.3s ease;

        &.open {
            transform: translate(0, 0);
        }
    }
}

@media screen and (min-width: 550px) {
    .header {

        .header__inner {
            .nav ul {
                display: flex;
            }

            .hamburger__button {
                display: none;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .hero {
        .hero__banner {

            .hero__inner {

                .hero__title {
                    font-size: 1.75rem;
                }

                .hero__tagline {
                    font-size: 1.25rem;
                }
            }
        }
    }

    .content {
        .article__section {
            .articles {
                grid-template-columns: 1fr 1fr;

                .article-item {
                    margin-left: 0.5rem;
                    margin-right: 0.5rem;

                    .article-item__thumbnail {
                        height: 15rem;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .header {

        .header__inner {
            .header__title {
                font-size: 2rem;
            }

            .nav ul li a {
                font-size: 1.25rem;
            }
        }
    }

    .hero {
        .hero__banner {
            .hero__inner {
                .hero__title {
                    font-size: 2.25rem;
                }

                .hero__tagline {
                    font-size: 1.75rem;
                }
            }
        }
    }

    .content {
        .article__section {
            .articles {
                grid-template-columns: 1fr 1fr 1fr;
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .hero {
        .hero__banner {
            .hero__inner {
                .hero__title {
                    font-size: 2.75rem;
                }

                .hero__tagline {
                    font-size: 2.25rem;
                }
            }
        }
    }

    .content {
        .article__section {
            width: 80%;
            margin: auto;

            .articles {
                grid-template-columns: 1fr 1fr 1fr;

                .article-item {

                    .article-item__thumbnail {
                        height: 20rem;
                    }
                }
            }
        }
    }
}