<article class="article-item">
    <img class="article-item__thumbnail" src="../../../../public/images/placeholders/placeholder-restaurant.png" alt="ramen">
    <div class="article-item__content">
        <h3 class="article-item__title"><a href="#">Shrimp Ramen</a></h3>
        <p class="article-item__description">Best Ramen in Japan!</p>
        <div class="article-item__rating">
            <img src="../../../../public/images/icons/ic_star.svg" alt="">
            <span>5</span>
        </div>
    </div>
</article>