<article class="article-item">
    <img class="article-item__thumbnail" src="../../../../../public/images/placeholders/placeholder-restaurant.png"
        alt="restaurant name">
    <div class="article-item__content">
        <div class="article-item__header"> 
            <h3 class="article-item__title"><a href="#" class="article-item__name">Restaurant Name</a></h3>
            <div class="article-item__location">
                <img src="../../../../../public/images/icons/ic_location.svg" alt="location icon">
                <span class="article-item__city">Restaurant City</span>
            </div>
        </div>
        <p class="article-item__description">Restaurant Description</p>
        <div class="article-item__rating">
            <img src="../../../../../public/images/icons/ic_star.svg" alt="star icon">
            <span class="article-item__value">Restaurant Rating</span>
        </div>
    </div>
</article>