<div class="container">
    <section class="restaurant-detail">
        <img src="../../../../public/images/placeholders/placeholder-menu.png" alt="" class="restaurant-detail__image">
        <div class="restaurant-detail__content">
            <h1 class="restaurant-detail__name">Restaurant Name</h1>
            <div class="restaurant-detail__location">
                <img src="../../../../public/images/icons/ic_location.svg" alt="location icon">
                <span class="restaurant-detail__address">Restaurant Address,</span>
                <span class="restaurant-detail__city">Restaurant City</span>
            </div>
            <p class="restaurant-detail__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint, laborum et obcaecati delectus nam reprehenderit eum inventore suscipit explicabo qui ipsam repellat est quaerat ducimus nulla consequuntur consectetur quos rem?</p>
            <div class="restaurant-detail__categories">
                
            </div>
        </div>
    </section>
    <section class="restaurant-menu" id="food-menu">
        <h2>Foods</h2>

    </section>
    <section class="restaurant-menu" id="drink-menu">
        <h2>Drinks</h2>

    </section>

    <h2>Customer Reviews</h2>
    <form>
        <div class="form-review__name form-review">
            <label for="name">Name</label>
            <input type="text" name="name" id="name">
        </div>
        <div class="form-review__review form-review">
            <label for="review">Review</label>
            <textarea name="review" id="review" rows="10"></textarea>
        </div>
        <button class="btn__submit">Submit</button>
    </form>
    <section class="customer-reviews">
        
    </section>
</div>
<div id="likeButtonContainer"></div>

