.nav__drawer__btn {
    background-color: transparent;
    color: $fourth-color;
    border: 0;
    font-size: 1.5rem;
    cursor: pointer;
}

.header {
    width: 100%;
    transition: background 0.3s ease;
    background-color: $secondary-color;

    .header__inner {
        padding: .5rem 2rem;
        display: flex;
        justify-content: space-between;
        align-items: center;


        .header__title {
            font-size: 1.5rem;
            font-style: italic;
            font-weight: bold;

            .first__character__title {
                color: $primary-color;
            }

            .second__character__title {
                color: $fourth-color;
            }

            @include lg {
                font-size: 2rem;
            }
        }

        .nav ul {
            display: none;

            li {
                list-style-type: none;
                margin-right: 1.5rem;
                margin-left: 1.5rem;
                min-width: 44px;
                min-height: 44px;

                a {
                    color: $fourth-color;
                    text-decoration: none;
                    padding: 0.5rem 0.3rem;

                    &:hover {
                        border-bottom: 2px solid;
                    }

                    @include lg {
                        font-size: 1.25rem;
                    }
                }
            }

            @include sm {
                display: flex;
            }
        }

        .hamburger__button {
            @include sm {
                display: none;
            }
        }
    }
}

.drawer {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 110;
    background-color: $secondary-color;
    transform: translate(-100%, 0);
    display: flex;
    flex-direction: column;
    align-items: center;

    ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        padding: 0;

        li {
            list-style: none;
            margin-top: 1rem;
            margin-bottom: 1rem;

            a {
                color: white;
                text-decoration: none;
                border-bottom: 2px solid;
                padding: 0.35rem 0.35rem;
                font-size: 1.2rem;
            }
        }
    }

    .close__button {
        margin-top: 1rem;
    }

    @include xs {
        transition: transform 0.3s ease;

        &.open {
            transform: translate(0, 0);
        }
    }
}