<header class="header">
    <div class="header__inner">
        <div class="header__title">
            <span class="first__character__title">Food</span><span class="second__character__title">Hut</span>
        </div>
        <nav class="nav">
            <ul>
                <li><a href="#" class="">Home</a></li>
                <li><a href="/#/favorites" class="">Favorite</a></li>
                <li><a href="https://www.linkedin.com/in/adrian-p-624b16136/" class="">About Us</a></li>
            </ul>
        </nav>
        <button class="hamburger__button nav__drawer__btn " aria-label="hamburger button">☰</button>
    </div>
</header>
<nav class="drawer">
    <button class="close__button nav__drawer__btn " aria-label="close drawer button">X</button>
    <ul>
        <li class="nav-link"><a href="#" class="">Home</a></li>
        <li class="nav-link"><a href="/#/favorites" class="">Favorite</a></li>
        <li class="nav-link"><a href="https://www.linkedin.com/in/adrian-p-624b16136/" class="">About Us</a></li>
    </ul>
</nav>